**Standardization and Normalization**
 - Standardization and Normalization are two approaches to convert data values to same range/scale.It is also scaling of data. 
 - In the data we have many columns are there in which each column has different units as well as differnt values. 
 - For ex: We have age and salary. Age is minimal number basically a two digit number and salary is a 5 digit number.
 - When you multiply two digit number(age) with the 5 digit number(salary) it involves some complexity. 
 - Imagine multiplying both are single digit number, this involves less complexity
 - Scaling converts all the data into the same scale
 - In which one technique is standardization which is also called Z-Scale or Z-Score.
 - It ranges -3 to 3
 - The mean=0 and standard deviation=1
 
 
 - **Normalization**
 - Normalization converts data into 0 to 1 range.
 - minimum =0 and maximum value to 1
 - It is mainly used in deep learning project for image scaling
 - Generally images are color images and pixel value ranges from 0 to 255
 - we Normalize the value from 0 to 1
 - min max scaler
 - The value might change but the information will not change.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
filelocation="C:\\Users\\ADMIN\\Desktop\\Python\\Files\\Visadataset.csv"
visadf = pd.read_csv(filelocation)
visadf

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [3]:
** Z-score**
- First we read a specific column 
- Calculate the mean of the column 
- Calculate the standard deviation of the column 
- Numerator = column - mean value
- Numerator/standard deviation.

SyntaxError: invalid syntax (3994836968.py, line 1)

In [ ]:
mean=visadf['prevailing_wage'].mean()
deviation = visadf['prevailing_wage'].std()
numerator = visadf['prevailing_wage']-mean
visadf['prevailing_wage_zscore']=numerator/deviation
visadf[['prevailing_wage_zscore']],visadf[['prevailing_wage']]

In [ ]:
max_original=visadf['prevailing_wage'].max()
max_zoriginal=visadf['prevailing_wage_zscore'].max()
max_original,max_zoriginal

In [ ]:
#Identifying the row id  with maximum prevailing wage
print(visadf['prevailing_wage'].idxmax())
print(visadf['prevailing_wage_zscore'].idxmax())

In [ ]:
visadf.iloc[[21077]]

In [ ]:
#Finding minimum
min_original=visadf['prevailing_wage'].min()
min_zoriginal=visadf['prevailing_wage_zscore'].min()
min_original,min_zoriginal
print(visadf['prevailing_wage'].idxmin())
print(visadf['prevailing_wage_zscore'].idxmin())

**Z score is also used for identifying the Influential Outliers**

- Generally outlier means very very huge observations or very very small observation
- If we found an observation as outlier before scaling
- The same observation again found as outlier after scaling
- Then that observation called influential outlier
- Some observation before scaling consider as outlier
- But after scaling  it does not fall in outlier criteria
- At that time we might not consider that observation as outlier
- Z score is used to identify influential outliers

In [ ]:
# Below you can see that both the outliers are the same. 
plt.subplot(1,2,1)
plt.boxplot(visadf['prevailing_wage']) 
plt.subplot(1,2,2)
plt.boxplot(visadf['prevailing_wage_zscore'])

In [ ]:
filelocation="C:\\Users\\ADMIN\\Desktop\\Python\\Files\\Visadataset.csv"
visadf = pd.read_csv(filelocation)

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
visadf['prevailing_wage_zscore']=ss.fit_transform(visadf[['prevailing_wage']])
visadf[['prevailing_wage','prevailing_wage_zscore']]

**Min max scalar**
- Read the column 
- Calculate the min value
- Calculate the max value
- Numerator = column - minimum value
- denomiator = maximum - minimum 
- output = Numerator/denominator

In [ ]:
filelocation="C:\\Users\\ADMIN\\Desktop\\Python\\Files\\Visadataset.csv"
visadf = pd.read_csv(filelocation)

min_original=visadf['prevailing_wage'].min()
max_original = visadf['prevailing_wage'].max()
 

Numerator  = visadf['prevailing_wage'] - min_original
denomiator =  max_original - min_original
output = Numerator/denomiator
visadf['prevaling_wage_norm']=output

In [ ]:
print(visadf['prevailing_wage'].idxmin())
print(visadf['prevaling_wage_norm'].idxmax())

In [ ]:
filelocation="C:\\Users\\ADMIN\\Desktop\\Python\\Files\\Visadataset.csv"
visadf = pd.read_csv(filelocation)
from sklearn.preprocessing import MinMaxScaler
ss = MinMaxScaler()
visadf['prevailing_wage_nscore']=ss.fit_transform(visadf[['prevailing_wage']])
visadf[['prevailing_wage','prevailing_wage_nscore']]

print(visadf['prevailing_wage'].idxmin())
print(visadf['prevailing_wage_nscore'].idxmax())

In [ ]:
**fit_transform**
- There are two terms one is fit and transform
- If you see in z score
 - x:  data
 - mean: mean of data
 - std: Std of data
    
- Will find the value of mean and std, this is called fit
- Once we find the values we need to apply on entire data, this is called transform. 
- fit transform means calculate the measurements/parameters/statistic and apply on data